.md-sidebar--secondary {
    display: none;
}

body {
    padding-top: 70px;
}

.navbar {
    margin-bottom: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 10px;
}